body {
margin: 0px;
padding: 0px;
color: pink;
}

h2, h1 {
    text-align: center;
}

/************************/
/****** DEVELOPERS ******/
/************************/


.developers {
    float: center;
}

.developers.row {
    width: 1000px;
}

button .waves-effect waves-light btn-large {
    text-align: center;
}

.developers .card .card-image img {
    width: 300px;
    height: 300px
}


.developers .card .card-content {
    width: 300px;
}

.developers .card .card-reveal {
    width: 300px;
}

.developers .card {
    width: 300px;
    display: inline-block;

    margin-left: 40px;
}