body {
margin: 0px;
padding: 0px;
color: pink;
}

h2, h1, h3 {
    text-align: center;
    font-size: 10em;
}

/************************/
/****** DEVELOPERS ******/
/************************/


.developers {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.card {
    float: right;
    right: 15%;
    margin: 0% 0% 0% 0%;
    padding: 0%;

}



button .waves-effect waves-light btn-large {
    text-align: center;
}

.developers .card .card-image img {
    border-style: none;
    width: 300px;
    height: 300px;
}


.developers .card .card-content {
    width: 300px;
}

.developers .card .card-reveal {
    width: 300px;
}

.developers .card {
    width: 300px;
    display: inline-block;

    margin-left: 40px;
}

form {
    display: inline-block;
    right: 50%;
    margin: 0% 0% 0% 0%;
    padding: 0%;
    width: 50%;
    height: 50%;
    font-size: 5em;
}



