body {
margin: 0px;
padding: 0px;
color: pink;
}

h2, h1 {
    text-align: center;
}

nav-wrapper {
    color-background: #303f9f indigo darken-2;
}

.developers {
    float: center;
}

.row {
    width: 1000px;
}

button .waves-effect waves-light btn-large {
    text-align: center;
}

.card .card-image img {
    width: 300px;
    height: 300px
}


.card .card-content {
    width: 300px;
}

.card .card-reveal {
    width: 300px;
}

.card {
    width: 300px;
    display: inline-block;

    margin-left: 40px;
}