<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
    <div th:replace="fragments/header :: navbar"></div>

    <h1>The Developers</h1>

    <div class="developers">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="https://ca.slack-edge.com/T039KG69K-UPU25NUVD-afbaaa00b100-512">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Romel Pineda
                    <i class="material-icons right">...</i></span>
                <p><a href="#">Software Engineer</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Romell
                    Pineda<i class="material-icons right">close</i></span>
                <p>I grew up loving Legos and building model airplanes. A B-2 stealth bomber and F-14 Tomcat were long-time fixtures in my childhood room until they became casualties of inexperienced playful hands.

                    Today, I feel extremely fortunate to be a part of an industry where my passion and talents intersect. I excel in team dynamics and creative problem-solving. I leverage my background with scientific methodologies to debug and troubleshoot systems.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="https://ca.slack-edge.com/T039KG69K-UPKNU2KA5-c26f92f8e849-512">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Sergey Voytov<i class="material-icons right">...
                </i></span>
                <p><a href="#">Software Engineer</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Sergey
                    Voytov<i class="material-icons right">close</i></span>
                <p>I'm Software Developer form the Sunny State of Arizona.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="https://ca.slack-edge.com/T039KG69K-UPRN442EQ-a29aa2bd3c23-512">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Joshua Deforrest
                    <i class="material-icons right">...</i></span>
                <p><a href="#">Software Engineer</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Joshua Deforrest<i class="material-icons right">close</i></span>
                <p>Interest into getting first hand experience to make me more knowledgeable in Software Engineering.</p>
            </div>
        </div>
        <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://ca.slack-edge.com/T039KG69K-UPS6LSL9K-910cb657dd65-512">
        </div>
        <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Daesy Stephens
                    <i class="material-icons right">...</i></span>
            <p><a href="#">Software Engineer</a></p>
        </div>
        <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Daesy
                    Stephens<i class="material-icons right">close</i></span>
            <p>Ever since I was a little girl, I had a passion for computers. I still remember when I was at my school sitting in front of a
                computer and putting my floppy disk to start DOS. I used a software where I had to give commands to a little turtle to create
                any shape I wanted. It was fascinating, being able to get the computer to do whatever I wanted.</p>
        </div>
        </div>
    </div>
</body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>