<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<div th:replace="fragments/userheader :: userbar"></div>
<h1>[[${principal}]]</h1>

<img th:src="${usernameWeAreVisiting.profilePicture}">
<h1 th:text="${usernameWeAreVisiting.username}"></h1>
<h2 th:text="${usernameWeAreVisiting.firstName}"></h2>
<h2 th:text="${usernameWeAreVisiting.bio}"></h2>

<h2><a href = "/generator">Add a Meme!</a></h2>



<div class="row">

    <div class="row content">
        <div th:each="meme : ${allMemes}"  class="col s12 m4 l3">
            <div class="card hoverable">
                <div class="card-image">
                <img th:src="${meme.url}">
            </div>
                <div class="card-content">
                    <p th:text="${meme.name}"></p>
                </div>
                            <div class="card-action">
                                <a th:href="'/delete/'+${meme.id}">Delete me</a>
                            </div>

<!--                <form th:action="'/delete/' + ${meme.id}" method="POST">-->
<!--                    <button type="submit">delete me</button>-->
<!--                </form>-->

            </div>
        </div>
    </div>





    <!--    <form action="/meme/add" method="POST" class="col s12">-->
<!--        <div class="row">-->
<!--            <div class="input-field col s12">-->
<!--                <input id="memeName" type="text" name="name" class="validate">-->
<!--                <label for="memeName">Meme Name</label>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="input-field col s12">-->
<!--                <input id="memeUrl" type="text" name="url" class="validate">-->
<!--                <label for="memeUrl">Meme Url</label>-->
<!--            </div>-->
<!--        </div>-->
<!--        <input type="submit" value="Post Meme">-->
<!--    </form>-->
</div>

<!--<ul>-->
<!--        <li th:each="meme : ${meme}">-->
<!--            <span th:text="${meme}"></span>-->
<!--        </li>-->
<!--    <li th:each="comment : ${comment}">-->
<!--        <span th:text="${comment}"></span>-->
<!--    </li>-->

<!--    <form action="/newComment" method="POST">-->
<!--        <h2>Add a comment</h2>-->
<!--        <input type="hidden" name="id" th:value="${id}">-->
<!--        Comment: <input type="text" name="body">-->
<!--        <input type="submit" value="add a comment">-->
<!--    </form>-->
<!--</ul>-->







<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>