<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div th:replace="fragments/header :: navbar"></div>
    <h2>Sign Up</h2>

    <form action="/join" method="POST">
        username <input type="text" name="username">
        password <input type="password" name="password">
        Profile Picture <input type="text" name="profilePicture">
        biography <input type="text" name="bio">
        first name <input type="text" name="firstName">
        <input type="submit">
    </form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>