<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<div th:replace="fragments/header :: navbar"></div>
<h2>Sign Up</h2>

<!--<form action="/join" method="POST">-->
<!--    username <input type="text" name="username">-->
<!--    password <input type="password" name="password">-->
<!--    Profile Picture <input type="text" name="profilePicture">-->
<!--    biography <input type="text" name="bio">-->
<!--    first name <input type="text" name="firstName">-->
<!--    <input type="submit">-->
<!--</form>-->

<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input id="username" type="text" class="validate">
                <label for="username">Username</label>
            </div>
            <div class="input-field col s6">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="firstName" type="text" class="validate">
                <label for="firstName">First Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="bio" type="text" class="validate">
                <label for="bio">Bio</label>
            </div>
        </div>
        <form action="#">
            <div class="file-field input-field">
                <div class="btn">
                    <span>File</span>
                    <input type="file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload Profile Picture Here">
                </div>
            </div>
        </form>
        <button class="waves-effect waves-light btn-large" type="submit" name="action">Submit
        </button>
    </form>
</div>


<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>