<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h2>[[${user.profilePicture}]]</h2>
<h2>[[${user.username}]]</h2>
<h2>[[${user.firstName}]]</h2>
<h2>[[${user.bio}]]</h2>




<ul>
    <li th:each="meme : ${meme}">
        <span th:text="${meme}"></span>
    </li>



    <form action="/newMeme" method="POST">
        <h2>Add a meme</h2>
        <input type="hidden" name="id" th:value="${id}">
        Comment: <input type="text" name="body">
        <input type="submit" value="add a meme">
    </form>



    <form action="/newComment" method="POST">
        <h2>Add a comment</h2>
        <input type="hidden" name="id" th:value="${id}">
        Comment: <input type="text" name="body">
        <input type="submit" value="add a comment">
    </form>

</ul>


</body>
</html>