<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h2>membership</h2>




<form action="/join" method="POST">
    first name <input type="text" name="firstName">
    Profile Picture <input type="text" name="profilePicture">
    biography <input type="text" name="bio">
    <br>
    username <input type="text" name="username">
    password <input type="password" name="password">
    <input type="submit">
</form>
</body>
</html>